


  <section class="page-about page-about__row-one">
    {% section 'hero' %} 
  </section>
  <section class="page-about page-about__row-two">
    {% section 'featured-content' %}
  </section>
  <section class="page-about page-about-row__three">
    {% section 'page-about_featured-row' %}
    {% section 'page-about_image-bar' %}
    {% section 'page-about_featured-row_2' %}
  </section>



<div id="rap__med__instagram"></div>
<script
  async
  src="https://theraptormedia.com/instagram/embed.js"
  data-id="fuel-up-protein-bars.myshopify.com"
  defer="defer"
></script>
