

<div class="page-about__wrapper">
  <section class="page-about page-about__row-one">
    {% section 'hero' %} 
  </section>
  <section class="page-about page-about__row-two">
    {% section 'featured-row' %} 
  </section>
  <section class="page-about page-about-row__three">
    {% section 'featured-content' %}
  </section>
</div>

<!-- <div id="rap__med__instagram"></div>
<script
  async
  src="https://theraptormedia.com/instagram/embed.js"
  data-id="fuel-up-protein-bars.myshopify.com"
  defer="defer"
></script> -->
